In [9]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from IPython.display import Image
%matplotlib inline
%pwd

'C:\\Users\\ANANYA\\Desktop\\DataScience'

In [29]:
df['Z']=0
df.drop('Z',axis=1,inplace=True)
#df.describe()
#Image('Kazi-Nazrul-Islam.jpg')

In [52]:
#Assignment 1 How-to-count-distance-to-the-previous-zero
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
n,p,y,i=len(df),0,[],0
while p<n:
    if int(df.iloc[p])==0:
        y.append(0)
        i=0
    else:
        y.append(i+1)
        i=i+1
    p=p+1
df['Y']=y
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [55]:
#Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
print(s)

2015-01-01    0.059355
2015-01-02    0.894540
2015-01-05    0.680176
2015-01-06    0.289059
2015-01-07    0.503614
2015-01-08    0.344428
2015-01-09    0.019883
2015-01-12    0.540446
2015-01-13    0.687282
2015-01-14    0.741002
2015-01-15    0.553793
2015-01-16    0.058079
2015-01-19    0.952426
2015-01-20    0.633009
2015-01-21    0.853294
2015-01-22    0.183946
2015-01-23    0.829281
2015-01-26    0.331841
2015-01-27    0.249022
2015-01-28    0.932500
2015-01-29    0.772605
2015-01-30    0.403008
2015-02-02    0.417723
2015-02-03    0.135653
2015-02-04    0.818053
2015-02-05    0.483659
2015-02-06    0.386481
2015-02-09    0.748710
2015-02-10    0.420881
2015-02-11    0.353321
                ...
2015-11-20    0.041739
2015-11-23    0.994614
2015-11-24    0.240785
2015-11-25    0.364243
2015-11-26    0.822128
2015-11-27    0.255138
2015-11-30    0.829021
2015-12-01    0.407204
2015-12-02    0.730423
2015-12-03    0.891805
2015-12-04    0.972250
2015-12-07    0.751281
2015-12-08    0.138261
2015-12-09    0.359249
2015-12-10    0.277588
2015-12-11    0.721246
2015-12-14    0.414168
2015-12-15    0.829306
2015-12-16    0.154471
2015-12-17    0.604195
2015-12-18    0.172943
2015-12-21    0.178234
2015-12-22    0.064937
2015-12-23    0.739878
2015-12-24    0.400346
2015-12-25    0.230883
2015-12-28    0.451130
2015-12-29    0.209257
2015-12-30    0.562978
2015-12-31    0.252917
Freq: B, Length: 261, dtype: float64

In [57]:
#Assignment3:Find the sum of the values in s for every Wednesday

s[dti.weekday == 2].sum()

27.197993503080195

In [59]:
#Assignment4:Average For each calendar month

s.resample('M', how='mean')

C:\Users\ANANYA\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  This is separate from the ipykernel package so we can avoid doing imports until

2015-01-31    0.523299
2015-02-28    0.444100
2015-03-31    0.499409
2015-04-30    0.547253
2015-05-31    0.518303
2015-06-30    0.541895
2015-07-31    0.498382
2015-08-31    0.453145
2015-09-30    0.460134
2015-10-31    0.652483
2015-11-30    0.442723
2015-12-31    0.457172
Freq: M, dtype: float64

In [62]:
#Assignment 5: For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

s.groupby(pd.TimeGrouper('4M')).idxmax()

C:\Users\ANANYA\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  This is separate from the ipykernel package so we can avoid doing imports until

2015-01-31   2015-01-19
2015-05-31   2015-04-20
2015-09-30   2015-08-05
2016-01-31   2015-11-23
dtype: datetime64[ns]